/* Centering body content */
body {
    background-image: url('{% static "images/RainBros.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 0; /* Remove default body margin */
}

/* Styling for jumbotron container */
.jumbotron {
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    padding: 30px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 40%; /* Adjusted width for better centering */
    max-width: 600px; /* Max width for responsiveness */
    text-align: center; /* Center text */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content vertically */
}

/* Navbar form */
.navbar-form {
    margin-top: 20px;
}

/* Styling for input group buttons and form control */
.input-group-btn .btn {
    border: 2px solid #ccc;
    color: #333;
}

.input-group .form-control {
    border: 2px solid #ccc;
}

/* Heading color in jumbotron */
.jumbotron h1 {
    color: #337ab7;
}
