.text-title1 {
    text-align: center;

    h1 {
        color: black;
    }
}

.weeklycss {
    display: flex;
    flex-direction: column;
}

.panel-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.panel {
    width: 200px;
    height: 250px;
}
