/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light background color */
    color: white; /* White text throughout the page */
}

/* Center the form container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Makes the container take up the full height of the viewport */
}

/* Form styles */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increased gap between fields */
    padding: 30px; /* Increased padding */
    background-color: #333; /* Dark background color for the form */
    border-radius: 10px;
    width: 100%;
    max-width: 450px; /* Increased max width for more space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form:hover {
    transform: scale(1.02);
    border: 1px solid #555; /* Lighter border color on hover */
}

/* Form fields styles */
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Additional margin between fields */
}

.input-field {
    padding: 12px; /* Increased padding for input fields */
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #555; /* Lighter background color for input fields */
    color: white; /* White text in input fields */
    outline: none;
}

/* Form labels styles */
.form-label {
    color: white;
}

/* Form buttons styles */
.form .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button1,
.button3 {
    padding: 10px 20px; /* Increased padding for buttons */
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
    background-color: #555; /* Lighter button background color */
    color: white;
}

.button1:hover,
.button3:hover {
    background-color: #777; /* Slightly lighter background color on hover */
}

/* Styling the cancel button */
.button3 {
    margin-left: 5px;
}

/* Heading styles *
