.registerBody {
    /* Body styling */
    body, span, a, label {
        color: white; /* Set text color to white */
        font-family: 'Roboto', sans-serif;
    }
    body {
        background: #222D32;
    }

    /* Register box styling */
    .register-box {
        margin-top: 75px;
        height: auto;
        background: #1A2226;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    /* Register key styling */
    .register-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-text-fill-color: transparent;
    }

    /* Register title styling */
    .register-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #ECF0F5; 
    }

    /* Register form styling */
    .register-form {
        margin-top: 25px;
        text-align: left;
    }

    /* Input fields styling */
    input[type="text"],
    input[type="password"] {
        background-color: black; /* Set background color to black */
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-radius: 0;
        font-weight: bold;
        outline: none;
        margin-bottom: 20px;
        padding-left: 0;
        color: white; /* Set text color to white */
        font-size: 16px; /* Increased font size */
    }

    /* Focus styling */
    .form-control:focus {
        border-color: inherit;
        box-shadow: none; /* Remove box shadow */
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: rgb(0, 0, 0); /* Retain black background on focus */
        color: white; /* Retain white text on focus */
    }

    /* Button styling */
    .btn-outline-primary,
    .btn-outline-secondary {
        background-color: white; /* White background */
        color: black; /* Black text */
        border: 2px solid black;
        border-radius: 4px;
        font-weight: bold;
        padding: 10px 15px; /* Consistent padding */
        margin: 5px; 
        text-align: left; /* Center the text */
    }

    /* Button hover effect */
    .btn-outline-primary:hover,
    .btn-outline-secondary:hover {
        background-color: #f2f2f2; /* Slightly darker white on hover */
        color: black; /* Keep black text on hover */
    }

    /* Container for buttons */
    .register-button {
        text-align: left; /* Center the buttons */
        margin-top: 20px; /* Add some space above the buttons */
    }

    /* Adjust text color */
    .register-text {
        color: white; /* Keep text color white */
    }

    /* Notification checkbox styling */
    .form-check-label {
        color: white; /* White text */
    }

    .form-check-input {
        border-radius: 4px;
        border: 2px solid #0DB8DE;
    }

}
