{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/weekly.css' %}">
<div class="weeklycss container">
    <br>
    <div class="text-title1">
        <h1><strong>Weekly Weather for {{ city }}</strong></h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day2 }}</div>
                <div class="panel-body">Forecast: {{ day2_fore }}<br>High: {{ day2_high }}<br>Low: {{ day2_low }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day3 }}</div>
                <div class="panel-body">Forecast: {{ day3_fore }}<br>High: {{ day3_high }}<br>Low: {{ day3_low }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day4 }}</div>
                <div class="panel-body">Forecast: {{ day4_fore }}<br>High: {{ day4_high }}<br>Low: {{ day4_low }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day5 }}</div>
                <div class="panel-body">Forecast: {{ day5_fore }}<br>High: {{ day5_high }}<br>Low: {{ day5_low }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day6 }}</div>
                <div class="panel-body">Forecast: {{ day6_fore }}<br>High: {{ day6_high }}<br>Low: {{ day6_low }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">{{ day7 }}</div>
                <div class="panel-body">Forecast: {{ day7_fore }}<br>High: {{ day7_high }}<br>Low: {{ day7_low }}</div>
            </div>
        </div>
   
{% endblock %}
