    <form method="post" action="" class="form">
        {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="usernameInput">
    </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>